.access-container {
  margin-top: 30px;

  .forgot-password {
    margin-bottom: 25px;
    @include fontSize(11);

    @media (max-width: $breakpoint-575) {
      @include fontSize(9);
    }

    .left-element {
      float: left;
    }

    .right-element {
      float: right;

      a {
        color: $color-orange;
      }
    }

    a {
      display: inline-block;
      @include fontSize(9);
      color: #000000;

      @media (max-width: $breakpoint-575) {
        @include fontSize(9);
      }
    }
  }

  h4 {
    font-weight: 700;
    color: $color-orange;
    text-align: center;
    @include fontSize(14);
    margin: 0 0 25px;
  }

  .social-media-login {
    text-align: center;
    margin-bottom: 25px;

    a {
      display: block;
      width: 240px;
      text-align: center;
      border: 2px solid $color-orange;
      background-color: #ffffff;
      color: $color-orange;
      padding-top: 7px;
      padding-bottom: 7px;
      margin: 0 auto 10px;
      @include transition-all(0.3s);
      @include border-radius(5px);
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        @include fontSize(13);
        margin-left: 5px;

        @media (max-width: $breakpoint-575) {
          @include fontSize(11);
        }
      }

      i {
        position: absolute;
        left: 15px;
        top: 50%;
        @include transform-translate-all(-50%);
        @media (max-width: $breakpoint-575) {
          font-size: 14px;
          line-height: 16px;
        }
      }

      &.a-l-fb {
        border-color: #4c64a4;
        color: #4c64a4;

        i {
          color: #4c64a4;
        }
      }

      &.a-l-g {
        border-color: #e16c56;
        color: #e16c56;

        i {
          color: #e16c56;
        }
      }

      &:hover {
        background-color: $color-orange;
        color: #ffffff;

        &.a-l-fb {
          background-color: #4c64a4;
          color: #ffffff;

          i {
            color: #ffffff;
          }
        }

        &.a-l-g {
          background-color: #e16c56;
          color: #ffffff;

          i {
            color: #ffffff;
          }
        }
      }

      //
      //@media (max-width: $breakpoint-1199) {
      //  width: 130px;
      //  margin-right: 10px;
      //}
      //
      //@media (max-width: $breakpoint-575) {
      //  width: 100px
      //}
    }
  }

  .t-and-c-notice {
    @include fontSize(12);
    font-weight: 400;
    text-align: right;

    a {
      font-weight: bold;
    }

    @media (max-width: $breakpoint-575) {
      @include fontSize(10);
    }
  }

  .access-swap {
    color: $color-blue;
    font-weight: bold;

    a {
      color: $color-orange;
      text-decoration: underline !important;
    }
  }

  .separator {
    .text-lines {
      color: $color-blue;
      font-weight: bold;
    }
  }

}

.access-modal {
  .section-title {
    h2 {
      color: #000000;
      text-align: center;
    }
  }

  .intro {
    .logo {
      text-align: left;

      @media (max-width: $breakpoint-575) {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    p {
      text-align: center;
      @include fontSize(20);
      margin-bottom: 0;

      @media (max-width: $breakpoint-767) {
        @include fontSize(16);
      }

      @media (max-width: $breakpoint-575) {
        @include fontSize(13);
      }
    }
  }

  hr {
    margin-top: 15px;
    margin-bottom: 30px;
    border-color: $color-orange;
    border-width: 1px;
  }

  .access-container {
    margin-top: 15px;
  }
}