.page {
  &.page-account {
    h2 {
      @include fontSize(35);
      font-weight: 800;
      padding: 0;
      text-align: right;
      margin: 0 0 30px;
      color: $color-blue;
    }

    h3 {
      @include fontSize(30);
      font-weight: 800;
      padding: 0;
      text-align: right;
      margin: 0 0 10px;
      color: $color-orange;
    }

    .sub-title {
      @include fontSize(20);
      margin-bottom: 20px;
      text-align: right;
    }

    .personal-info {
      padding: 20px;
      background-color: darken($color-grey, 5%);
      border-radius: 10px;
      margin-bottom: 50px;

      .personal-info-content {
        color: #ffffff;

        .personal-info-email, .personal-info-name {
          @include fontSize(20);
          margin-bottom: 10px;
        }

        .personal-info-password {
          letter-spacing: 5px;
          vertical-align: middle;
        }
      }
    }

    .logout {
      margin-bottom: 20px;
    }

    .cancel-subscription {
      color: #dc5b43;
      text-decoration: underline;
      text-transform: uppercase;
      @include fontSize(16);
      font-weight: bold;
    }
  }
}

.renew-subscription-section {
  margin-top: 30px;


  li {
    margin-left: 30px;

    @media (max-width: $breakpoint-575) {
      margin-left: 15px;
    }

    @media (max-width: 400px) {
      &:nth-child(even) {
        margin-left: 0;
      }
    }

    &:last-child {
      margin-left: 0;
    }
  }

  &.no-subscription {
    background-color: $color-orange;
    padding-top: 30px;

    .renew-subscription {
      .square {
        border-color: #ffffff;

        span {
          color: #ffffff;
        }

        &:hover {
          background-color: #ffffff;

          span {
            color: $color-orange;
          }
        }
      }

      h2 {
        color: #ffffff;
      }
    }
  }
}

.subscriptions {
  .renew-subscription {
    margin-left: 15px;
  }
}

.renew-subscription {
  text-align: right;
  margin-bottom: 30px;
  width: 132px;
  height: 132px;
  @include border-radius(20px);
  display: inline-block;
  border: 5px solid $color-blue;
  color: $color-blue;

  @media (max-width: $breakpoint-575) {
    width: 135px;
  }

  a {
    display: block;
    width: 100%;
  }

  .square {
    display: block;
    width: 100%;
    position: relative;
    max-height: 141px;
    height: 100%;
    //cursor: pointer;
    font-weight: 700;
    @include transition-all(0.3s);
    @include fontSize(20);
    @include border-radius(10px);
    text-align: center;

    @media (max-width: $breakpoint-575) {
      max-width: 200px;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 80%;
    }

    span {
      //margin-top: 5px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      @include transform-translate-all(-50%);
      width: 100%;
    }
  }

  &:hover {
    background-color: $color-blue;
    color: #ffffff;
  }

  a {
    @media (max-width: $breakpoint-575) {
      max-width: 200px;
    }
  }

  &.change-plan {
    border-color: $color-orange;
    background-color: $color-orange;
    color: #ffffff;
    text-transform: uppercase;

    &:hover, &.active {
      background-color: #ffffff;
      color: $color-orange;
    }
  }
}

.plan-step {
  margin-bottom: 30px;

  &#step-two {
    display: none;
  }

  .payment-options {
    button {
      background: #fff;
      width: 150px;
      border: 1px solid #fff;
      color: $color-blue;
      line-height: 30px;
      margin-left: 15px;

      i {
        @include fontSize(30);
        display: block;
      }

      &:last-child {
        margin-left: 0;
      }


    }
  }
}