.page {
  &.page-article {
    padding-top: 0;

    .page-content {
      padding-top: 0;
    }

    .video-title {
      margin-top: 20px;

      h1 {
        font-weight: 700;
        color: #000000;
        font-size: 2.2rem;
        line-height: 37px;
        margin-bottom: 0;
      }
    }

    .article-meta {
      margin-bottom: 20px;

      @media (max-width: $breakpoint-575) {
        margin-bottom: 20px;
      }

      &.less-margin {
        margin-bottom: 20px;

        @media (max-width: $breakpoint-767) {
          margin-bottom: 10px;
        }

        @media (max-width: $breakpoint-575) {
          margin-bottom: 0;
        }
      }

      .published-date, .share-on-social, .article-views, .article-likes {
        display: inline-block;
        vertical-align: middle;

        span {
          margin-right: 5px;
          vertical-align: middle;
          display: inline-block;
          @include fontSize(16);
          font-weight: 400;
          color: $color-text-grey;

          @media (max-width: $breakpoint-767) {
            @include fontSize(14);
          }
        }
      }

      .published-date {
        margin-left: 20px;

        span {
          @include fontSize(12);
        }

        i {
          color: $color-orange;
          display: inline-block;
          vertical-align: middle;
          @include fontSize(20);

          @media (max-width: $breakpoint-767) {
            font-size: 15px;
            line-height: 15px;
          }
        }

        @media (max-width: $breakpoint-575) {
          display: block;
          margin-left: 0;
          margin-bottom: 10px;
        }
      }

      .share-on-social {
        @media (max-width: $breakpoint-575) {
          display: block;
        }

        span {
          margin-right: 0;
          margin-left: 15px;
        }

        ul {
          display: inline-block;
          vertical-align: middle;

          li {
            margin-left: 15px;

            &:last-child {
              margin-left: 0;
            }

            a {
              i {
                font-size: 20px;
                line-height: 28px;
                color: $color-orange;

                @media (max-width: $breakpoint-767) {
                  font-size: 18px;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }

      .article-views {
        margin-left: 20px;

        i {
          color: $color-orange;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .article-likes {
        a {
          display: inline-block;
          vertical-align: middle;
          margin-left: 15px;

          &:last-child {
            margin-left: 0;
          }

          i {
            color: $color-orange;
            font-size: 24px;
            line-height: 30px;

            @media (max-width: $breakpoint-767) {
              font-size: 22px;
              line-height: 22px;
            }
          }
        }
      }
    }

    .video-container {
      margin-bottom: 20px;
    }

    hr {
      margin-top: 0;
      margin-bottom: 20px;
      border-width: 1px;
      border-color: $color-orange;
    }
  }
}