.page {
  &.page-home {
    padding-top: 0;

    @media (max-width: $breakpoint-767) {
      padding-top: 60px;
    }

    @media (max-width: $breakpoint-575) {
      padding-top: 53px;
    }


  }
}