.page {
  &.page-search {
    .section-title {
      h1 {
        font-weight: 400;

        span {
          font-weight: 800;
        }
      }

      @media (max-width: $breakpoint-991) {
        margin-bottom: 0;
      }
    }

    .number-of-results {
      margin-bottom: 30px;
      color: $color-orange;
      @include fontSize(18);
      text-align: right;

      span {
        font-weight: 800;
      }

      @media (max-width: $breakpoint-767) {
        margin-top: 5px;
        @include fontSize(16);
        margin-bottom: 20px;
        text-align: right;
      }
    }

    &.no-search-results {
      .apology-text {
        @include fontSize(20);
        font-weight: 700;
        margin-bottom: 40px;
        text-align: right;
        color: $color-blue;

        @media (max-width: $breakpoint-767) {
          margin-bottom: 20px;
          @include fontSize(16);
        }

        @media (max-width: $breakpoint-575) {
          @include fontSize(14);
        }
      }

      .section-title {
        margin-top: 60px;

        @media (max-width: $breakpoint-991) {
          margin-top: 40px;
        }

        @media (max-width: $breakpoint-767) {
          margin-top: 20px;
        }
      }
    }
  }
}