.accordion {
  .info-card {
    background-color: #fff;
    margin-bottom: 4px;

    .info-card-body {
      padding-bottom: 15px;
    }

    button {
      width: 100%;
      color: $color-blue;
      @include fontSize(30);
      text-align: center;
      text-transform: uppercase;

      &.collapsed {
        color: #000000;
      }
    }

    .btn-link {
      text-decoration: none;
    }
  }
}