.breadcrumbs-container {
  padding: 25px 0;
  background-color: $color-orange;

  @media (max-width: $breakpoint-575) {
    padding: 15px 0;
  }

  .title-holder {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 25px;

    @media (max-width: $breakpoint-575) {
      margin-left: 0;
      margin-bottom: 10px;
    }

    h1, h2 {
      @include fontSize(32);
      color: #ffffff;
      margin: 0;
      font-weight: 800;

      @media (max-width: $breakpoint-1199) {
        @include fontSize(28);
      }

      @media (max-width: $breakpoint-991) {
        @include fontSize(26);
      }

      @media (max-width: $breakpoint-575) {
        @include fontSize(22);
      }
    }
  }
}

.breadcrumbs {
  display: inline-block;
  vertical-align: baseline;

  ul {
    li {
      margin-left: 5px;

      &:after {
        content: ">";
        @include fontSize(14);
        color: #ffffff;
        font-weight: 400;
        margin-right: 7px;
      }

      &:last-child {
        &:after {
          content: "";
          font-size: 0;
          line-height: 0px;
        }
      }

      a, span {
        @include fontSize(14);
        color: #ffffff;
        font-weight: 400;

        @media (max-width: $breakpoint-991) {
          @include fontSize(13);
        }

        @media (max-width: $breakpoint-575) {
          @include fontSize(11);
        }
      }
    }
  }
}