form {
  text-align: right;

  label {
    display: block;
    font-weight: 400;
    color: #000000;
    @include fontSize(15);
    margin: 0;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-1199) {
      @include fontSize(13);
      margin-bottom: 5px;
    }

    &.orange {
      color: $color-orange;
      font-weight: 700;
    }

    &.error {
      @include fontSize(13);
      color: #f00;
      margin-top: 5px;

      @media (max-width: $breakpoint-575) {
        @include fontSize(11);
      }
    }
  }

  input[type=text], input[type=email], input[type=password], textarea {
    border: 2px solid $color-blue;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    @include border-radius(5px);
    text-align: right;
    color: #000000;

    &.error {
      border-color: #f00;
    }

    @include placeholder {
      color: $color-blue;
      font-weight: 300;
      @include fontSize(12);
    }
  }

  .checkbox {
    @include fontSize(12);
    input {
      margin-left: 10px;
    }
  }

  textarea {
    resize: none;
  }

  .sm-form-row {
    margin-bottom: 15px;

    @media (max-width: $breakpoint-575) {
      margin-bottom: 10px;
    }
  }

  input[type=submit] {
    //width: 100%;
    width: 180px;
    background-color: $color-orange;
    color: #ffffff;
    @include fontSize(14);
    font-weight: 800;
    text-align: center;
    border: 1px solid $color-orange;
    padding: 8px 10px;
    @include transition-all(0.3s);
    @include border-radius(10px);
    cursor: pointer;

    &:hover {
      background-color: #ffffff;
      color: $color-orange;
    }

    @media (max-width: $breakpoint-1199) {
      @include fontSize(16);
    }

    @media (max-width: $breakpoint-991) {
      max-width: 300px;
    }

    @media (max-width: $breakpoint-575) {
      @include fontSize(14);
    }
  }

  p.helper-text {
    margin-bottom: 0;
    font-weight: 400;
    @include fontSize(12);
    margin-top: 10px;
  }

  /* BOOTSTRAP SELECT IN FORM */
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .btn-light {
    background-color: #ffffff;
    color: #000000;
    border: 0;
    border-bottom: 1px solid #000000;

    &:hover {
      background-color: #ffffff;
      color: #000000;
      border-bottom: 1px solid #000000;
    }
  }

  .bootstrap-select > .dropdown-toggle {
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.2;

    &:after {
      margin: 0;
      position: absolute;
      top: 50%;
      @include transform-translate-Y(-50%);
      left: 0;
    }
  }

  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    left: auto;
    right: 0;
    text-align: right;
    padding-right: 0;
    padding-left: 0;
  }


  .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #000000;
  }

  .bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .dropdown-menu.open {
    .dropdown-menu.inner {
      display: block;
    }
  }

  .dropdown-item {
    text-align: right;

    .fa.fa-check.check-mark {
      display: none;
    }
  }
}