.page {
  padding-top: 80px;

  @media (max-width: $breakpoint-991) {
    padding-top: 40px;
  }

  @media (max-width: $breakpoint-767) {
    padding-top: 90px;
  }

  .page-content {
    padding: 0 60px;
    padding-top: 0;

    @media (max-width: $breakpoint-991) {
      padding: 0 40px;
      padding-top: 30px;
    }

    @media (max-width: $breakpoint-767) {
      padding: 0 30px;
      padding-top: 30px;
    }

    @media (max-width: $breakpoint-575) {
      padding: 0;
      padding-top: 30px;
    }

    .intro {
      margin-bottom: 30px;
      position: relative;

      p {
        color: $color-orange;
        @include fontSize(20);
      }

      .edit-profile {
        position: absolute;
        top: 0;
        left: 0;
        background-color: darken($color-grey, 8%);
        color: $color-orange;
        @include border-radius(5px);
        @include transition-all(0.3s);
        text-transform: uppercase;

        &:hover {
          background-color: darken($color-grey, 15%);
        }
      }
    }
  }

  .page-text {
    margin-top: 25px;
    margin-bottom: 30px;

    &.no-top-margin {
      margin-top: 0;
    }

    p {
      font-weight: 400;
      color: #000000;
      @include fontSize(14);
      line-height: 28px;
      margin-bottom: 20px;
      text-align: justify;

      @media (max-width: $breakpoint-575) {
        @include fontSize(12);
        line-height: 26px;
      }
    }

    span {
      font-weight: 400;
      color: #000000;
      @include fontSize(14);
      line-height: 28px;

      @media (max-width: $breakpoint-575) {
        @include fontSize(12);
        line-height: 26px;
      }
    }

    h2 {
      font-weight: 700;
      margin: 0;
      margin-bottom: 20px;
      color: $color-orange;
      @include fontSize(20);
      text-align: right;

      @media (max-width: $breakpoint-575) {
        @include fontSize(18);
      }
    }

    h3 {
      font-weight: 400;
      margin: 0;
      margin-bottom: 20px;
      color: $color-orange;
      @include fontSize(18);
      text-align: right;

      @media (max-width: $breakpoint-575) {
        @include fontSize(16);
      }
    }

    ul {
      text-align: right;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 5px;
        @include fontSize(14);
        line-height: 28px;

        @media (max-width: $breakpoint-575) {
          @include fontSize(12);
          line-height: 26px;
        }

        &:before {
          content: "-";
          margin-left: 10px;
        }
      }
    }
  }

  .load-more-container {
    margin-bottom: 30px;
  }
}