.profile-modal {
  .m-header {
    background-color: #282828;
  }

  .profile-summary {
    p {
      margin-bottom: 5px;
      @include fontSize(18);
      line-height: 18px;

      &.smashi {
        font-weight: bold;
        font-family: $font-gotham;
      }

      &.cost {
        @include fontSize(22);

        span {
          font-weight: bold;
          @include fontSize(24);
        }
      }
    }

    hr {
      margin-top: 0;
      margin-bottom: 15px;
      border-color: $color-orange;
      border-width: 1px;
    }
  }

  .accordion {
    margin-top: 15px;

    .info-card-body {
      padding-left: 15px;
      padding-right: 15px;
      .renew-subscription {
        border: 8px solid $color-blue;
        color: $color-blue;
        width: 100%;

        @media (max-width: $breakpoint-575) {
          width: 135px;
        }

        .square {
          max-height: 141px;
          @include fontSize(15);
          text-align: center;

          @media (max-width: $breakpoint-575) {
            max-width: 200px;
          }

          &:after {
            content: "";
            display: block;
            padding-bottom: 80%;
          }

          span {
            //margin-top: 5px;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            @include transform-translate-all(-50%);
            width: 100%;

            @media (max-width: $breakpoint-991) {
              @include fontSize(40);
            }
          }
        }

        &:hover {
          background-color: $color-blue;
          color: #ffffff;
        }

        a {
          @media (max-width: $breakpoint-575) {
            max-width: 200px;
          }
        }

        &.change-plan {
          border-color: $color-orange;
          background-color: $color-orange;
          color: #ffffff;
          text-transform: uppercase;

          &:hover {
            background-color: #ffffff;
            color: $color-orange;
          }
        }
      }
    }
  }

  .nav-tabs {
    border-bottom: none;

    .nav-item {
      width: 50%;
      text-align: center;

      a {
        border: none;
        color: #000000;
        @include fontSize(13);
        text-transform: uppercase;
        font-weight: bold;

        span {
          @include fontSize(24);
        }
      }
    }
  }

  .tab-content {
    margin-top: 10px;

    .forgot-password {
      @include fontSize(11);

      @media (max-width: $breakpoint-575) {
        @include fontSize(9);
      }

      a {
        display: inline-block;
        @include fontSize(11);
        color: #000000;

        @media (max-width: $breakpoint-575) {
          @include fontSize(9);
        }
      }
    }

    input[type=text], input[type=email], input[type=password], textarea {
      border-width: 3px;
      @include border-radius(20);
      border-color: #aaa9aa;
      color: #000000;

      @include placeholder {
        color: #aaa9aa;
      }
    }
  }

}