.section-title {
  margin-bottom: 35px;

  @media (max-width: $breakpoint-991) {
    margin-bottom: 20px;
  }

  @media (max-width: $breakpoint-767) {
    margin-bottom: 15px;
  }

  @media (max-width: $breakpoint-575) {
    margin-bottom: 5px;
  }

  h2 {
    @include fontSize(26);
    font-weight: 800;
    color: $color-orange;
    margin: 0;
    text-align: right;

    @media (max-width: $breakpoint-1199) {
      @include fontSize(24);
    }

    @media (max-width: $breakpoint-991) {
      @include fontSize(22);
    }

    @media (max-width: $breakpoint-767) {
      @include fontSize(20);
    }

    @media (max-width: $breakpoint-575) {
      @include fontSize(18);
    }
  }

  h1 {
    @include fontSize(32);
    font-weight: 800;
    color: $color-orange;
    margin: 0;
    text-align: right;

    @media (max-width: $breakpoint-1199) {
      @include fontSize(28);
    }

    @media (max-width: $breakpoint-991) {
      @include fontSize(26);
    }

    @media (max-width: $breakpoint-767) {
      @include fontSize(24);
    }

    @media (max-width: $breakpoint-575) {
      @include fontSize(22);
    }
  }

  h3 {
    @include fontSize(22);
    font-weight: 800;
    color: $color-orange;
    margin: 0;
    text-align: right;

    @media (max-width: $breakpoint-1199) {
      @include fontSize(20);
    }

    @media (max-width: $breakpoint-991) {
      @include fontSize(18);
    }

    @media (max-width: $breakpoint-767) {
      @include fontSize(16);
    }

    @media (max-width: $breakpoint-575) {
      @include fontSize(15);
    }
  }

  &.with-line {
    hr {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $color-orange;
    }
  }
}