.sm-btn {
  display: inline-block;
  padding: 10px 30px;
  @include fontSize(20);
  font-weight: 700;
  @include border-radius(10px);

  @media (max-width: $breakpoint-767) {
    @include fontSize(16);
  }

  &.orange {
    background-color: $color-orange;
    border: 1px solid $color-orange;
    color: #ffffff;
    @include transition-all(0.3s);

    &:hover {
      color: $color-orange;
      background-color: #ffffff;
    }
  }

  &.small-btn {
    max-width: 150px;
  }

  &.full-width {
    width: 100%;
    text-align: center;
  }

  &.blue {
    background-color: $color-blue;
    border: 1px solid $color-blue;
    color: #ffffff;
    @include transition-all(0.3s);

    &:hover {
      color: $color-blue;
      background-color: #ffffff;
    }
  }
}