.sm-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;

  .sm-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform-translate-all(-50%);
    z-index: 1101;
  }

  .close-overlay-btn {
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 1102;

    i {
      font-size: 30px;
      line-height: 36px;
      color: #000000;

      @media (max-width: $breakpoint-575) {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }

  &.video-login-overlay {
    display: block;
    background-color: rgba(0,0,0, 0.8);

    .sm-overlay-content {
      a {
        display: block;

        span {
          display: inline-block;
          vertical-align: middle;
          @include transition-all(0.3s);

          &:first-child {
            background-color: $color-orange;
            font-weight: 800;
            @include fontSize(28);
            color: #ffffff;
            padding: 11px 23px;
            padding-top: 12px;

            @media (max-width: $breakpoint-991) {
              @include fontSize(22);
            }

            @media (max-width: $breakpoint-767) {
              @include fontSize(18);
            }

            @media (max-width: $breakpoint-575) {
              @include fontSize(12);
              padding: 5px 13px;
              font-weight: 700;
            }
          }

          &:last-child {
            background-color: $color-blue;
            padding: 18.5px 27px;

            @media (max-width: $breakpoint-991) {
              padding: 15.5px 27px;
            }

            @media (max-width: $breakpoint-767) {
              padding: 13.5px 27px;
            }

            @media (max-width: $breakpoint-575) {
              padding: 6px 10px;
            }

            i {
              color: #ffffff;
              font-size: 20px;
              line-height: 24px;

              @media (max-width: $breakpoint-575) {
                font-size: 16px;
                line-height: 20px;
              }
            }
          }
        }

        &:hover {
          span {
            &:first-child {
              background-color: #ffffff;
              color: $color-orange;
            }

            &:last-child {
              background-color: #ffffff;

              i {
                color: $color-blue;
              }
            }
          }
        }
      }
    }
  }

  &.search-overlay {
    background-color: rgba(0,0,0,0.9);
    z-index: 1100;
    position: fixed;

    .close-overlay-btn i {
      color: #ffffff;
    }

    .sm-overlay-content {
      width: 100%;

      form {
        input[type=text] {
          border-bottom-color: #ffffff;
          padding: 20px 0;
          padding-left: 40px;
          color: #ffffff;
          font-family: $font-base;
          font-weight: 400;
          @include fontSize(24);

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #ffffff;
            font-family: $font-base;
            font-weight: 400;
            @include fontSize(24);
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #ffffff;
            font-family: $font-base;
            font-weight: 400;
            @include fontSize(24);
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #ffffff;
            font-family: $font-base;
            font-weight: 400;
            @include fontSize(24);
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #ffffff;
            font-family: $font-base;
            font-weight: 400;
            @include fontSize(24);
          }
        }
      }
    }
  }
}