.top-video-container {
  background: #000000;
  padding: 8px 0;

  .top-video {
    position: relative;
    //border: 5px solid $color-orange;

    &.with-login {
      position: relative;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      z-index: 1048;
      color: $color-blue;

      .mute-item {
        position: absolute;
        top: 5%;
        left: 5%;
        //@include transform-translate-all(-50%);
        @include fontSize(20);
        line-height: 30px;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        font-family: $font-gotham;

        i {
          @include fontSize(100);
        }

        span {
          font-weight: bold;

          &.big {
            @include fontSize(30);
            line-height: 30px;
          }
        }

        @media (max-width: $breakpoint-767) {
          @include fontSize(25);

          i {
            @include fontSize(100);
          }

          span {
            &.big {
              @include fontSize(39);
              line-height: 33px;
            }
          }
        }

        @media (max-width: 420px) {
          @include fontSize(15);

          i {
            @include fontSize(70);
          }

          span {
            &.big {
              @include fontSize(23);
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  .top-video-navigation {
    background-color: $color-orange;
    padding-top: 10px;
    padding-bottom: 10px;

    .nav-item {
      @media (max-width: $breakpoint-991) {
        border-left: 1px solid #ffffff;

        &.md-no-border {
          border-left-color: $color-orange;
        }
      }

      @media (max-width: $breakpoint-575) {
        border-left: 0;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 10px;

        &.md-no-border {
          padding-top: 10px;
          border-left: 0;
          border-bottom: 0;
          padding-bottom: 0;
        }
      }

      .nav-item-position {
        display: inline-block;
        vertical-align: middle;
        font-weight: 800;
        @include fontSize(28);
        color: #ffffff;
        padding: 8px 37px 8px 60px;
        border-left: 1px solid #ffffff;

        @media (max-width: $breakpoint-1199) {
          @include fontSize(24);
          padding: 8px 30px;
        }

        @media (max-width: $breakpoint-991) {
          @include fontSize(20);
          padding: 0;
          text-align: right;
          display: block;
          border-left: 0;
        }

        @media (max-width: $breakpoint-767) {
          @include fontSize(16);
        }
      }

      .nav-item-meta {
        //padding: 18px 0;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

        @media (max-width: $breakpoint-991) {
          margin-right: 0;
          padding-bottom: 0;
        }

        @media (max-width: $breakpoint-767) {
          padding-top: 8px;
        }

        span,a {
          display: block;
          text-align: right;

          &.title {
            margin-bottom: 10px;
            font-weight: 700;
            @include fontSize(14);
            color: #ffffff;

            @media (max-width: $breakpoint-767) {
              @include fontSize(12);
              margin-bottom: 5px;
            }
          }

          &.published-date {
            font-weight: 400;
            @include fontSize(12);
            color: #000000;

            @media (max-width: $breakpoint-767) {
              @include fontSize(11);
            }

            i {
              font-size: 16px;
              line-height: 20px;
              color: $color-blue;
              margin-left: 8px;

              @media (max-width: $breakpoint-767) {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }

  .article-image {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

