.video-card, .blog-post {
  margin-bottom: 30px;
  position: relative;

  .video-container {
    margin-bottom: 14px;
    position: relative;

    @media (max-width: $breakpoint-991) {
      margin-bottom: 10px;
    }

    span.duration {
      background-color: $color-blue;
      @include fontSize(16);
      font-weight: 400;
      color: #ffffff;
      padding: 10px 20px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;

      @media (max-width: $breakpoint-991) {
        @include fontSize(12);
        padding: 4px 12px;
      }
    }
  }

  a {
    &.title {
      font-weight: 800;
      @include fontSize(17);
      color: $color-orange;

      @media (max-width: $breakpoint-991) {
        @include fontSize(14);
        font-weight: 700;
        margin-bottom: 5px;
      }
    }
  }

  span {
    &.published-date {
      color: #000000;
      font-weight: 400;
      @include fontSize(14);

      @media (max-width: $breakpoint-991) {
        @include fontSize(12);
      }

      i {
        margin-left: 8px;
        color: #000000;
        font-size: 14px;
        line-height: 18px;

        @media (max-width: $breakpoint-991) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .post-image {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    margin-bottom: 14px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.video-card {
  .video-container {
    position: relative;
    @include border-radius(10px);
    overflow: hidden;
    cursor: pointer;

    a {
      &:before {
        content: '';
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    .icon-play {
      position: absolute;
      top: 5px;
      left: 5px;
      @include fontSize(30);
      color: $color-orange;
      z-index: 2;

      &:before {
        content: none;
      }
    }
  }
}

.category-videos {
  margin-bottom: 30px;

  @media (max-width: $breakpoint-575) {
    margin-bottom: 15px;
  }
}

.videojs-player {
  width: 100%;
  height: auto;
}