@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.preview-image {
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preview-image img {
  width: 100%;
}

.btn-smashi {
  color: #fff;
  background-color: #f97b3e;
  border-color: #f97b3e;
}

.btn-smashi:hover {
  background-color: #f7590d;
  border-color: #f7590d;
}

