#main-content {
    /* background-color: #131313; */
	
	background-color:rgba(255, 255, 255, 0.8);
}
.navbar-default {
    /*background-color: #232323;
    border-color: #212121;
	*/
	background-color:#e1e1e1;
	border-color: #FFFFFF;

}
#primary-bar {
    background-color:#0f0f0f;
    border-bottom: 1px solid #212121;
}
#footer {
    /* background-color: #0f0f0f; */
	 background-color:#e1e1e1;
		

}
#copyright {
   /* background-color: #0f0f0f;
    border-top: 1px solid #1b1b1b; */
	
	background-color:#e1e1e1;
    border-top: 1px solid #1b1b1b;
	
}
.dropdown-menu {
    background-color: #232323;
}
.search-box {
    background-color: #232323;
    color: #6d6d6d;
}
.form-control {
    border: 1px solid #292928;
    color: #6d6d6d;
    
	
	/*background-color: #121212; */
	background-color:#FFFFFF;
}
.form-control:focus {
    border-color: #0088cc;
    outline: 0;
    box-shadow: none;
    background-color: #232323;
}
input:focus {
    background-color: #232323;
}
.dropdown-menu > li > a {
    color: #8c8b8b;
}
.dropdown-menu > li > a:hover {
    color: #fbfbfb;
    background-color: #0088cc;
}
.profiles-wrap .pp-main {
   /* background: #232323; */
    background: #FFFFFF; 
}
.profiles-wrap {
    background: #0f0e0e;
}
.sidebar .sidebar-menu ul li.active {
    background: #08c;
    color: #fff;
}
.sidebar .sidebar-menu ul li.active a {
    color: #fdf9f9;
}
.sidebar .sidebar-menu ul li:hover {
    background: #08c;
    color: #fff;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    /* background-color: #1d1c1c; */
    background-color: #FFFFFF;
	border: 1px solid #000;
}
.btn-default {
    color: #9a9a9a;
   /* background-color: #343434; */
	background-color:##FFFFFF;
	border-color: #343434;
	
	
	
}
.btn-default:hover {
    color: #9a9a9a;
    background-color: #343434;
    border-color: #343434;
}
#contact-form .form-control {
    border: 1px solid #343434;
}
#myFooter {
    background-color: #232323;
}
#myFooter .footer-copyright {
    background-color: #151414;
}
#title-bar {
    border-bottom: 1px solid #1d1d1d
}
.nav-tabs {
    border-bottom: 1px solid #1d1d1d;
}
.sidebar .most-liked .media,
.latest-post .media {
    border-bottom: 1px solid #1d1d1d;
}
.disable-bottom-line {
    background-color: #1d1d1d;
    z-index: 1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #000;
    border: 1px solid #1d1d1d;
    border-bottom-color: transparent;
}
.ui-autocomplete {
    background: #131313;
    border: 1px solid #000;
}
.list_item_container:hover {
    background-color: #000;
}
.ui-menu-item {
    border-bottom: 1px solid #000;
}
.ui-menu-item:hover {
    background-color: #000;
    color: #fff;
}
.ui-widget.ui-widget-content {
    border: 1px solid #000;
    background: #121212;
}