.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}
.owl-carousel {
    position: relative;
}
.owl-carousel a:hover {
    text-decoration: none;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    /*line-height: 50px;*/
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 28px;
    color: #7a7a7a;
    /*border: 1px solid #ddd;*/
    text-align: center;
}
.owl-carousel .owl-prev {
    left: -70px;
}
.owl-carousel .owl-next {
    right: -70px;
}
.item {
    background: transparent;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    margin: 0px;
}
.item img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    max-height: 225px;
    border-radius: 3px;
}
@media screen and (max-width: 480px) {
    .item img {
        height: 200px;
    }
}
@media screen and (max-width: 600px) {
    .item img {
        height: 200px;
    }
}
@media screen and (max-width: 800px) {
    .item img {
        height: 200px;
    }
}
@media screen and (max-width: 1000px) {
    .item img {
        height: 100px;
    }
}