@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.preview-image {
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preview-image img {
  width: 100%;
}

//.m-grid.m-grid--hor:not(.m-grid--desktop):not(.m-grid--desktop-and-tablet):not(.m-grid--tablet):not(.m-grid--tablet-and-mobile):not(.m-grid--mobile)>.m-grid__item.m-grid__item--fluid {
  //background-color: #437efb;
//}

//.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__title, .m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
//  color: #333333;
//}

.btn-smashi {
  color: #fff;
  background-color: #f97b3e;
  border-color: #f97b3e;

  &:hover {
    background-color: darken(#f97b3e, 10%);
    border-color: darken(#f97b3e, 10%);
  }
}