body {
  &.dark {
    background-color: #505050;

    ul {
      &.sm-ul {
        li {
          color: #ffffff;
        }
      }
    }

    .video-card, .blog-post {
      .video-container {
        span.duration {
          background-color: $color-blue;

        }
      }

      a {
        &.title {
          color: $color-orange;
        }
      }

      span {
        &.published-date {
          color: #ffffff;
          @include fontSize(14);

          i {
            color: #ffffff;
          }
        }
      }
    }

    .access-modal {
      .modal-content {
        background-color: #424242;
      }

      .section-title {
        h2 {
          color: #ffffff;
        }
      }

      .intro {
        p {
          color: #ffffff;
        }
      }

      hr {
        border-color: #ffffff;
      }
    }

    .access-container {
      .social-media-login {
        a {
          background-color: transparent;
        }
      }

      .access-swap {
        color: #ffffff;
      }

      .forgot-password {
        margin-top: 5px;

        .left-element {
        }

        .right-element {
          color: #ffffff;

          a {
            color: $color-orange;
          }
        }

        a {
          color: #ffffff;

          @media (max-width: $breakpoint-575) {
            @include fontSize(9);
          }
        }
      }

      .t-and-c-notice {
        color: #ffffff;
      }

      .checkbox {
        color: #ffffff;
      }

      .separator {
        .text-lines {
          color: #ffffff;
          font-weight: bold;

          &:before,
          &:after {
            background-color: #ffffff;
          }
        }
      }
    }

    .sm-overlay {
      &.search-overlay {
        .close-overlay-btn i {
          color: #ffffff;
        }

        .sm-overlay-content {
          width: 100%;

          form {
            input[type=text] {
              border-top: none;
              border-left: none;
              border-right: none;
            }
          }
        }
      }
    }

    form {
      input[type=text], input[type=email], input[type=password], textarea {
        background-color: transparent;
        color: #ffffff;

        @include placeholder {
          color: #ffffff
        }
      }
    }

    .page {
      color: #ffffff;

      &.page-account {
        h2 {
          color: #ffffff;
        }

        .personal-info {
          background-color: #424242;

          .personal-info-content {
            color: #ffffff;
          }

        }

        .logout {
          a {
            background-color: #dc5b42;
            border-color: #dc5b42;

            &:hover {
              background-color: darken(#dc5b42, 10%);
            }
          }
        }
      }

      &.page-article {
        .video-title {
          h1 {
            color: $color-blue;
          }
        }

        .video-body {
          color: #ffffff;
          line-height: 25px;
        }

        .article-meta {

          .published-date, .share-on-social, .article-views, .article-likes {
            span {
              color: #ffffff;
            }
          }

          .published-date {
            i {
              color: #ffffff;
            }
          }

          .share-on-social {
            ul {
              li {
                a {
                  i {
                    color: $color-orange;
                  }
                }
              }
            }
          }

          .article-views {
            i {
              color: $color-orange;
            }
          }

          .article-likes {
            a {
              i {
                color: $color-orange;
              }
            }
          }
        }

        hr {
          border-color: #ffffff;
        }
      }

      .page-content {
        .edit-profile {
          background-color: #282828;

          &:hover {
            background-color: lighten(#282828, 5%);
          }
        }
      }

      .page-text {
        p, span {
          color: #ffffff;
        }
      }
    }

    .renew-subscription {
      border-color: #ffffff;
      color: #ffffff;


      &:hover {
        background-color: #ffffff;
        color: $color-orange;
      }

      &.change-plan {
        border-color: $color-orange;
        background-color: $color-orange;
        color: #ffffff;

        &:hover {
          background-color: #ffffff;
          color: $color-orange;
        }
      }
    }

    .profile-modal {
      .profile-summary {
        color: #ffffff;
      }

      .accordion {
        .info-card {
          .info-card-header {
            background-color: #424242;
            color: #ffffff;

            button {
              color: #ffffff;
              &.collapsed {
                color: #ffffff;
              }
            }
          }

          .info-card-body {
            background-color: #424242;

            .renew-subscription {
              border: 8px solid #ffffff;
              color: #ffffff;

              &:hover {
                background-color: #ffffff;
                color: $color-orange;
              }
            }
          }
        }
      }

      .nav-tabs {
        .nav-item {
          a {
            //background-color: #505050;
            background-color: transparent;
            color: #ffffff;
          }
        }
      }

      .tab-content {
        .forgot-password {
          a {
            color: #ffffff;
          }
        }

        input[type=text], input[type=email], input[type=password], textarea {
          color: #ffffff;
        }
      }
    }
  }
}