$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 960px,
        xl: 1240px
);

@import "../../../node_modules/bootstrap-v4-rtl/scss/bootstrap";

@import "modules/fonts";
@import "modules/variables";
@import "modules/mixins";
@import "modules/helpers";
@import "modules/spacing";

@import "sections/header";
@import "sections/footer";
@import "sections/navigation";
@import "sections/mobile-navigation";
@import "sections/comments";

@import "elements/page";
@import "elements/inline-list";
@import "elements/top-video-container";
@import "elements/section-title";
@import "elements/video-card";
@import "elements/mobile-menu-toggle-container";
@import "elements/sm-overlay";
@import "elements/form";
@import "elements/sm-btn";
@import "elements/breadcrumbs";
@import "elements/sidebar";
@import "elements/embed-container";
@import "elements/video";
@import "elements/blog-post";
@import "elements/video-embed";
@import "elements/profile-modal";
@import "elements/accordion";

@import "modules/effects";

@import "pages/access";
@import "pages/account";
@import "pages/article";
@import "pages/contact";
@import "pages/home";
@import "pages/listing";
@import "pages/search";
@import "pages/blog";



@import "dark";