@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.preview-image {
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preview-image img {
  width: 100%;
}

#m_login {
  background-color: #437efb;
}

