.hover-orange {
  @include transition-all(0.3s);
  &:hover {
    @include transition-all(0.3s);
    color: $color-orange !important;
    * {
      @include transition-all(0.3s);
      color: $color-orange !important;
    }
  }
}

.hover-opacity-low {
  @include transition-all(0.3s);
  &:hover {
    @include transition-all(0.3s);
    opacity: 0.8 !important;

    * {
      @include transition-all(0.3s);
      opacity: 0.8;
    }
  }
}

.hover-black {
  @include transition-all(0.3s);
  &:hover {
    @include transition-all(0.3s);
    color: #000000 !important;
    * {
      @include transition-all(0.3s);
      color: #000000 !important;
    }
  }
}

.hover-blue {
  @include transition-all(0.3s);
  &:hover {
    @include transition-all(0.3s);
    color: $color-blue !important;
    * {
      @include transition-all(0.3s);
      color: $color-blue !important;
    }
  }
}