@font-face {
  font-family: "Sukar";
  src: url('/assets/fonts/Sukar-Regular.eot');
  src: url('/assets/fonts/Sukar-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Sukar-Regular.svg#Sukar-Regular') format('svg'),
  url('/assets/fonts/Sukar-Regular.woff') format('woff'),
  url('/assets/fonts/Sukar-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sukar";
  src: url('/assets/fonts/Sukar-Bold.eot');
  src: url('/assets/fonts/Sukar-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Sukar-Bold.svg#Sukar-Bold') format('svg'),
  url('/assets/fonts/Sukar-Bold.woff') format('woff'),
  url('/assets/fonts/Sukar-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sukar";
  src: url('/assets/fonts/Sukar-Black.eot');
  src: url('/assets/fonts/Sukar-Black.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Sukar-Black.svg#Sukar-Black') format('svg'),
  url('/assets/fonts/Sukar-Black.woff') format('woff'),
  url('/assets/fonts/Sukar-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-ExtraLight.otf')  format('opentype'),
  url('/assets/fonts/Gotham-ExtraLight.woff') format('woff'),
  url('/assets/fonts/Gotham-ExtraLight.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Light.otf')  format('opentype'),
  url('/assets/fonts/Gotham-Light.woff') format('woff'),
  url('/assets/fonts/Gotham-Light.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Regular.otf')  format('opentype'),
  url('/assets/fonts/Gotham-Regular.woff') format('woff'),
  url('/assets/fonts/Gotham-Regular.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-Regular.svg#Gotham-Regular') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Medium.otf')  format('opentype'),
  url('/assets/fonts/Gotham-Medium.woff') format('woff'),
  url('/assets/fonts/Gotham-Medium.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
}


@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Bold.otf')  format('opentype'),
  url('/assets/fonts/Gotham-Bold.woff') format('woff'),
  url('/assets/fonts/Gotham-Bold.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Black.otf')  format('opentype'),
  url('/assets/fonts/Gotham-Black.woff') format('woff'),
  url('/assets/fonts/Gotham-Black.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 900;
}
