input, textarea {
  outline: none !important;
}

* {
  outline: none !important;
}

html {
  height: 100%;
}

body {
  font-family: $font-base;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none !important;
}

a:hover, a:focus {
  color: inherit;
}

textarea {
  resize: none;
}

.w-100 {
  width: 100%;
}

.text-center-991 {
  @media (max-width: $breakpoint-991) {
    text-align: center;
  }
}

.hide-767 {
  @media (max-width: $breakpoint-767) {
    display: none;
  }
}

.show-767 {
  display: none;

  @media (max-width: $breakpoint-767) {
    display: inline-block;
  }
}

.row-eq-height {
  @media (min-width: 992px) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.text-line {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    background-color: $color-orange;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    right: 0.5em;
    margin-left: -50%;
  }
}

.text-lines {
  direction: ltr;
  color: #000000;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;

  &:before,
  &:after {
    content: "";
    background-color: $color-orange;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#wrapper {
  position: relative;
  flex: 1;

  @media (max-width: $breakpoint-767) {
    padding-top: 0;
  }

  .main-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
  }
}

.no-l-r-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.orange-bg {
  background-color: $color-orange;
}

.alert-dismissible .close {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  left: 0;
  right: auto;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    transform:scale(0, 0);
  }
}

.zoom-animate {
  animation: zoominoutsinglefeatured 1.3s;
}

.sm-hr {
  border-color: $color-orange;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  @include reset-padding-margin();

  &.sm-ul {
    li {
      list-style: none;
      @include fontSize(12);
      line-height: 18px;

      &:before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $color-orange; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        font-size: 25px;
        vertical-align: middle;
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: 0; /* Also needed for space (tweak if needed) */
      }
    }
  }
}

.cursor-pointer{
  cursor: pointer;
}