$breakpoint-1199: 1199px;
$breakpoint-991:  991px;
$breakpoint-767:  767px;
$breakpoint-575:  575px;

$font-base: "Sukar", sans-serif;
$font-gotham: "Gotham", sans-serif;

$base-fontsize: 14;

$color-orange: #f97b3e;
$color-blue: #437efb;
$color-grey: #efefef;
$color-text-grey: #9e9e9e;