input#h-s3 {
    width: 90px;
}

input#w-s3 {
    width: 90px;
}

#filename-s3, #h-s3, #w-s3 {
    background: transparent;
    border: 2px solid #437efb;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    text-align: right;
    color: white;
}

#resolution-s3 {
    background: transparent;
    background: transparent;
    border: 2px solid #437efb;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    text-align: right;
    color: white;
}

.vertical-center{
    vertical-align: middle;
    line-height: 2;
}

select#resolution-s3 option {
    background: #505050;
}

#codec-s3{
    background: transparent;
    background: transparent;
    border: 2px solid #437efb;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    text-align: right;
    color: white;
}

select#codec-s3 option {
    background: #505050;
}