/* .navbar-expand-md .navbar-nav.menu-center{
    margin: 0 auto;
    width: calc(100% - 37%);
} */
.vjs-big-play-button {
    display: none !important;
}
.navbar-expand-md.custom-menu{
    padding-left: 0;
    padding-right: 0;
}
.header .secondary-navigation{
    margin-top: 0;
    position: absolute;
    left: 0;
}
.custom-menu .dropdown-menu {
    top: 90%;
}
.header .secondary-navigation li a.regstr-btn{
    background: white;
    padding: 11px 16px 11px;
    border-radius: 10px;
    color: #437dfb;
}
.header .secondary-navigation li:after{
    font-size: 25px !important;
    line-height: 26px;
}
.header .secondary-navigation li i {
    font-size: 24px !important;
    line-height: 24px !important;
}
.header .secondary-navigation li a.login-icon{
    padding-right: 20px;
}
body.dark .video-card span.published-date{
    text-align: center;
    margin-bottom: 8px;
    color: #f97b3e;
    font-weight: bold;
    margin: 0;

}
body.dark .video-card span.published-date.date-three{
    float: left;
}
.video-card .video-container{
    margin-bottom:5px !important;
}
.page_title > h1{
    font-size: 45px;
    font-weight: bold;
    padding-top: 36px;
    color: #fff;
}
.page_title > hr{
    border-top: 3px solid #fff;
    margin: 12px 0px 16px;
}
body.dark .page.page-article .article-meta .published-date span{
    color: #f97b3e;
    font-weight: bold;
}
.presenter-grid{
    width:100%;
    position: relative;
    overflow: hidden;
}
.parent-presenter-grid hr{
    margin: 36px auto;
    border-top: 3px solid #fff;
}
.parent-presenter-grid hr:last-child{
 border:none;
 margin:0;
}
.presenter-grid .presenter-grid-right a h3{
    font-size: 41px;
    color: #f97c3e;
    font-weight: bold;
    margin-bottom: 30px;
}
.presenter-grid .presenter-grid-left{
    float: left;
    width: 50%;
    text-align: left;
    position: relative;
}
.presenter-grid > a > img{
    max-width: 450px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.presenter-grid .presenter-grid-right{
    min-height: 425px;
    width: 50%;
}
.parent-presenter-grid{
    margin-bottom:30px;
}
.presenter-grid .presenter-grid-right > p{
    font-size: 32px;
    color: #fff;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 40px;
}
.presenter-grid .presenter-grid-right > img{
    max-width: 290px;
}
.presenter-grid .presenter-grid-right .reg-lgn{
    margin: 20px auto;
}
.presenter-grid .presenter-grid-right .reg-lgn > a{
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    color: #fff;

}
.relate-vod h2{
    text-align: right;
    margin-bottom: 20px;
}
.relate-vod h2:after{
    content: "";
    background-color: #fff;
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    right: 0.5em;
    margin-left: -50%;
}
.copy-desktop .aug_logo{
    width: 100px;
    vertical-align: sub;
    margin-left: 10px;
}
nav .navbar-collapse ul li a{
    font-size:20px;
}
body.dark .video-card span.published-date.date-center{
    position: absolute !important;
    left: 37% !important;
}
body.dark .video-card span.vod_dur{
    padding: 1px 5px 1px 0;
    background: #427efb;
    border-radius: 7px;
    color:#fff;
}
body.dark .video-card span.vod_dur i{
    font-size: 10px;
    padding: 0px 6px;

}
body.dark .video-card span.vod_dur i:before{
    position: relative;
    top: -1px;
}
body.dark .video-card .date-display{
    padding: 5px 0;
}
#myHeader.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  .video-card .video-container .icon-play{
      display:none!important;
  }
  .page.page-home{
      padding-top:0 !important;
  }
  .page.page-home .top-video-container{
    background: #505050;
  }
  body.dark .page-article .video-card span.published-date.date-center{
    float: left;
    position: absolute;
    left: 0;
}
body.dark .page-article .video-card span.published-date.date-three{
    display: block;
    padding-right: 5px;
}
#start_stop{
    margin: 30px auto;
    text-align: center;
}

form input[type=submit]:disabled{
    opacity: 0.5;
}

#start_stop a, #start_stop .start, #start_stop .stop{
    width: 180px;
    background-color: #f97b3e;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    border: 1px solid #f97b3e;
    padding: 8px 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

#start_stop input:disabled {
    opacity: 0.5;
}

#start_stop a:hover, #start_stop .start:hover, #start_stop .stop:hover, .vod_edit a:hover{
    background-color: #ffffff;
    color: #f97b3e;
}
.vod_edit a{
    width: 180px;
    background-color: #f97b3e;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    border: 1px solid #f97b3e;
    padding: 8px 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
    cursor: pointer;
}
#vod-crop-field .sm-form-row  input{
    display:block;
}

.slider {margin: 25px 0;
}
@media(max-width:1024px){
    body.dark .video-card span.published-date.date-center{
        float: left;
        position: absolute;
        left: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 30%;
    }
    body.dark .video-card span.published-date.date-three{
        display: block;
        padding-top: 0px;
        padding-right: 5px;
    }

}
@media(max-width:990px){
    .parent-presenter-grid{
        padding-top: 30px;
    }
    .presenter-grid > a > img{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 0 auto;
        display: block;
        width:100%;
        margin-bottom: 20px !important;
    }
    .presenter-grid .presenter-grid-right, .presenter-grid .presenter-grid-right > img{
        width: 100%;
    }
    .presenter-grid .presenter-grid-right{
        min-height: auto;
    }
    .copy-desktop{
        margin: 15px auto 10px;
    }
}

@media(max-width:767px){
    .header-top .navbar{
        margin: 0;
        padding: 0;
    }
    .header-top button.navbar-toggler{
        position: absolute;
        left: 0;
        top: -39px;
    }
    .header-top button.navbar-toggler .collapse-button .navbar-toggler-icon{
        display: block;
        margin-bottom: 6px;
        width: 1.8em;
        height: 5px;
        border-radius: 5px;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        background: #edf4ff;
    }
    .navbar-expand-md .navbar-nav.menu-center{
        width: 100%;
        text-align: left;
        margin-top: 20px;
        padding-left: 10px;
    }
    li.nav-item {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .header .secondary-navigation{
        position: relative;
        text-align: left;
    }
}
@media(max-width:480px){
    body.dark .video-card span.published-date.date-center{
        display: block;
        float: none;
        position: relative !important;
        text-align: right;
        width: 100%;
        text-align: right;
        padding-top: 0px;
        left: 0 !important;
    }
    body.dark .video-card span.published-date.date-three{
        padding: 0;
        float: none;
        text-align: right;
    }

}

.modal { overflow: auto !important; }

.vid-box .vjs-poster {
    background-size: cover;
}

.vjs-icon-hd:before {
    content: "\f114";
    font-size: 2em;
    vertical-align: middle;
    line-height: 31px;
}

.hover_image img {
    width: 100%;
    background: #d89c85c4;
}

.hover_image {
    position: absolute;
    z-index: 2;
}

.hover_image a {
    width: 29%;
    height: 14%;
    background: transparent;
    z-index: 5;
    left: 2%;
    position: absolute;
    top: 40%;
}

.hover_image i.live_popup {
    cursor: pointer;
    position: absolute;
    font-size: 100%;
    left: 0.4%;
    top: 0.4%;
}
@media screen and (min-width: 1200px){
    .hover_date, .hover_image i.live_popup {
        font-size: 1.6em;
    }
}
.subscription-form-modal .form-control{
color:#fff;
}
.subscription-form-modal .select2.select2-container{
    width: 100% !important;
}
.subscription-form-modal .select2-container--default .select2-selection--single{
    background-color: transparent !important;
    border: 3px solid #447efc !important;
    color: #fff;
    height: 42px;
}
.subscription-form-modal .select2-container--default .select2-selection--single .select2-selection__arrow{
    top:6px;
}
.subscription-form-modal .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
    color: #fff;    
}