.add-comment-section {
  background-color: $color-grey;
  padding: 30px;
  padding-bottom: 0;
  margin-bottom: 30px;

  @media (max-width: $breakpoint-767) {
    padding: 20px 30px;
    padding-bottom: 0;
  }

  @media (max-width: $breakpoint-575) {
    padding: 20px;
    padding-bottom: 0;
  }

  .avatar {
    @media (max-width: $breakpoint-767) {
      margin-bottom: 15px;
    }

    i {
      font-size: 46px;
      line-height: 46px;
      color: $color-orange;

      @media (max-width: $breakpoint-767) {
        font-size: 38px;
        line-height: 38px;
      }

      @media (max-width: $breakpoint-575) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  form {
    label, p.helper-text {
      color: $color-text-grey;
    }

    textarea {
      border-bottom-color: $color-orange;
    }
  }
}

.comments-section{
  .total-comments {
    h3 {
      @include fontSize(20);
      color: $color-blue;
      margin: 0;
      font-weight: 700;
      margin-bottom: 30px;

      @media (max-width: $breakpoint-767) {
        @include fontSize(18);
        margin-bottom: 20px;
      }
    }
  }

  .comments-list {
    .single-comment {
      margin-bottom: 35px;

      @media (max-width: $breakpoint-575) {
        margin-bottom: 15px;
      }

      .avatar {
        display: inline-block;
        width: 30px;
        height: auto;
        float: right;

        @media (max-width: $breakpoint-575) {
          display: none;
          float: none;
        }

        i {
          font-size: 30px;
          line-height: 30px;
          color: $color-text-grey;
        }
      }

      .comment-body {
        max-width: 95%;
        display: inline-block;
        float: left;

        @media (max-width: $breakpoint-991) {
          max-width: 90%;
        }

        @media (max-width: $breakpoint-575) {
          max-width: 100%;
          float: none;
        }

        .comment-meta {
          margin-bottom: 10px;

          .comment-user, .comment-published-date {
            display: inline-block;
            vertical-align: middle;
          }

          .comment-user {
            @include fontSize(16);
            color: #000000;
            font-weight: 700;
            margin-left: 10px;

            @media (max-width: $breakpoint-767) {
              @include fontSize(14);
            }
          }

          .comment-published-date {
            i {
              font-size: 13px;
              line-height: 13px;
              color: $color-orange;

              @media (max-width: $breakpoint-767) {
                font-size: 12px;
                line-height: 12px;
              }
            }

            span {
              @include fontSize(13);
              color: $color-orange;
              font-weight: 400;

              @media (max-width: $breakpoint-767) {
                @include fontSize(12);
              }
            }
          }
        }

        .comment-text {
          @include fontSize(13);
          text-align: justify;

          @media (max-width: $breakpoint-767) {
            @include fontSize(12);
          }
        }
      }
    }
  }
}