footer {
  background-color: $color-blue;

  .top-section {
    padding: 10px 0;
    //border-bottom: 1px solid #ffffff;

    .logo-container {
      @media (max-width: $breakpoint-767) {
        text-align: center;
      }

      a {
        img {
          width: 195px;
          height: auto;
          max-width: 100%;

          @media (max-width: $breakpoint-767) {
            width: 170px;
          }

          @media (max-width: $breakpoint-575) {
            width: 150px;
          }
        }
      }
    }

    .footer-navigation {
      li {
        margin-left: 20px;

        @media (max-width: 375px) {
          margin-left: 15px;
        }

        &:last-child {
          margin-left: 0;

          @media (max-width: 375px) {
            margin-left: 0;
          }

        }

        a {
          color: #ffffff;
          @include fontSize(13);
          font-weight: 700;

          @media (max-width: 375px) {
            @include fontSize(12);
          }
        }
      }
    }

    .download-mobile-app {
      vertical-align: top;
      display: inline-block;

      @media (max-width: $breakpoint-991) {
        margin-top: 20px;
      }

      @media (max-width: $breakpoint-767) {
        margin-top: 20px;
      }

      span {
        @include fontSize(13);
        font-weight: 800;
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;

        @media (max-width: 375px) {
          @include fontSize(12);
        }
      }

      a {
        margin-left: 15px;

        @media (max-width: 375px) {
          margin-left: 0;
        }

        img {
          width: 86px;
          height: auto;

          @media (max-width: 375px) {
            width: 76px;
          }
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }

    .social-media-links {
      text-align: left;

      @media (max-width: $breakpoint-991) {
        text-align: center;
      }

      @media (max-width: $breakpoint-767) {
        margin-top: 15px;
      }

      li {
        margin-right: 7px;

        &:first-child {
          margin-right: 0;
        }

        a {
          i {
            color: #ffffff;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }

    .payment-methods {
      vertical-align: top;
      display: inline-block;
      color: #ffffff;
      font-size: 28px;
      line-height: 28px;
      margin-right: 10px;
      float: left;

      @media (max-width: $breakpoint-991) {
        margin-top: 20px;
      }

      @media (max-width: $breakpoint-991) {
        float: none;
        display: block;
        text-align: center;
      }

      @media (max-width: $breakpoint-767) {
        margin-right: 0;
        text-align: center;
      }
    }
  }

  .bottom-section {
    padding: 12px 0;
    text-align: center;

    span {
      @include fontSize(12);
      font-weight: 400;
      color: #ffffff;

      @media (max-width: $breakpoint-575) {
        @include fontSize(10);
      }
    }
  }
}