.header {
  &.header-top {
    position: fixed;
    width: 100%;
    z-index: 1049;
    top: 0;
    left: 0;

    .logo-container {
      opacity: 0;
    }

    .top {
      background-color: $color-blue;

      nav {
        ul {
          li {
            &.active {
              span {
                color: $color-orange;
              }
            }

            a {
              &:hover {
                color: $color-orange !important;
              }
            }
          }
        }
      }

      .secondary-navigation {
        li {
          a {
            &:hover {
              color: $color-orange !important;

              i {
                color: $color-orange !important;
              }
            }
          }
        }
      }
    }

    .logo-container {
      transition: opacity 1s ease;
      opacity: 1;
    }
  }

  &.header-bottom {
    @media (max-width: $breakpoint-767) {
      position: fixed;
      z-index: 30;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-box-shadow: 0px -4px 13px 4px rgba(43, 43, 43, 1);
      -moz-box-shadow: 0px -4px 13px 4px rgba(43, 43, 43, 1);
      box-shadow: 0px -4px 13px 4px rgba(43, 43, 43, 1);
    }
  }

  .top {
    transition: background-color 1s ease;
    background-color: $color-orange;
    padding: 10px 0;
    padding-top: 14px;

    nav {
      margin-top: 5px;

      ul {
        li {
          &.active {
            span {
              color: $color-blue;
            }
          }
        }
      }
    }
  }

  .bottom {
    background-color: $color-blue;
    padding: 10px;
  }

  .logo-container {
    a {
      display: block;

      img {
        width: 160px;
        height: auto;
        max-width: 100%;

        @media (max-width: $breakpoint-767) {
          width: 150px;
        }

        @media (max-width: 370px) {
          width: 128px;
        }
      }
    }

    &.small {
      img {
        width: 140px;
        height: auto;
        max-width: 100%;
      }
    }
  }

  .secondary-navigation {
    margin-top: 5px;

    li {
      margin-left: 7px;
      color:#ffffff;
      @include fontSize(12);

      @media (max-width: $breakpoint-991) {
        margin-left: 0;
        @include fontSize(11);
      }

      &:after {
        content: "|";
        font-family: $font-base;
        @include fontSize(16);
        font-weight: 400;
        color: #ffffff;
        margin-right: 7px;

        @media (max-width: $breakpoint-991) {
          margin-right: 3px;
        }
      }

      &:last-child {
        margin-left: 0;

        &:after {
          content: "";
          font-size: 0;
          margin-right: 0;
        }
      }

      i {
        font-size: 16px;
        line-height: 16px;
        color:#ffffff;

        @media (max-width: $breakpoint-991) {
          font-size: 14px;
          line-height: 14px;
        }
      }

      a {
        @include fontSize(12);
        color:#ffffff;
        font-weight: 700;

        @media (max-width: $breakpoint-991) {
          @include fontSize(10);
          font-weight: 400;
        }
      }
    }
  }

  .social-links {
    margin-top: 15px !important;

    li {
      margin-right: 10px;

      &:first-child {
        margin-right: 0;
      }

      a {
        i {
          color: #ffffff;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}