.mobile-navigation {
  display: none;
  position: absolute;
  list-style-type: none;
  text-align: right;
  margin: 0;
  z-index: 35;
  width: 100%;
  background-color: $color-blue;
  top: 10px;
  right:0;
  padding: 20px 15px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;

  @media (min-width: 768px) {
    display: none !important;
  }

  li {
    color: #ffffff;
    margin-bottom: 10px;

    &:last-child {
      margin-top: 20px;
    }

    a, i {
      color: #ffffff;
      @include fontSize(14);
    }
  }
}