nav {
  text-align: center;

  @media (max-width: $breakpoint-991) {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  ul {
    @media (max-width: $breakpoint-1199) {
      text-align: right;
    }

    li {
      margin-left: 30px;

      @media (max-width: $breakpoint-991) {
        margin-left: 10px;
      }

      &:last-child {
        margin-left: 0;

        @media (max-width: $breakpoint-991) {
          margin-left: 0;
        }
      }

      a, span {
        font-weight: 800;
        color: #ffffff;
        @include fontSize(15);

        @media (max-width: $breakpoint-1199) {
          @include fontSize(13);
        }

        @media (max-width: $breakpoint-991) {
          @include fontSize(12);
          font-weight: 700;
        }
      }
    }
  }
}

.nav-link {
  padding: 0;
}