<template>
    <default-field :field="field" :errors="errors">
        <template slot="field">
            <input
              :id="field.name"
              type="hidden"
              class="w-full form-control form-input form-input-bordered"
              :class="errorClasses"
              :placeholder="field.name"
              v-model="value"
            />

            <input
              :id="field.name"
              type="button"
              class="form-control btn btn-default m-2"
              :class="errorClasses"
              :placeholder="field.name"
              v-model="popupbutton"
              v-on:click="modal_event"
            >

            <input
              :id="field.name"
              type="button"
              class="form-control btn btn-default m-2"
              :class="errorClasses"
              :placeholder="field.name"
              v-model="uploadButton"
              v-on:click="modal_event_upload"
            >

            <input
              :id="field.name"
              type="button"
              class="form-control btn btn-default m-2"
              :class="errorClasses"
              :placeholder="field.name"
              v-model="thumbnailButton"
              v-on:click="modal_event_thumbnail"
            >

            <modal v-if="showModal" @close="showModal = false" name="hello-world">
              <div style="position:fixed; top:13%;">
                <button type="button" style="float: right;" class="uploads3" @click="copys3video()" >Upload to S3 Production <span v-if="loadingicon"> <i v-bind:disabled="uploaddisabled === ''" class="fa fa-spinner fa-spin" aria-hidden="true"></i> </span></button>
              </div>
              <div>
                <ul class="bucket-list">
                  <li v-for="item, key in items" class="toggle-child">
                    <i class="fa fa-file-video" aria-hidden="true"></i>
                    <a href="javascript:void(0)" :data-value="item" @click="select_bucket(item, key)" :class="{'active': key == activeIndex}" >
                      {{item}}
                    </a>
                  </li>
                </ul>
                
              </div>
              <span class="close" @click="close_modal">X</span>
            </modal>
            
            <modal v-if="showPopupModal" @close="showPopupModal = false" name="upload-modal">
              <div class="drop_vod_con">
                <!-- <p class="drop_vod_txt">Drop a video (Coming Soon)</p> -->
                <!-- <p>Or</p> -->
                
                <file-selector max="1" v-model="files">
                  <input type="file" class="slotted" @change="filesChange($event.target.name, $event.target.files)" />
                </file-selector>
                <br /><br />
                
                <button type="button" class="uploads3" id="uploads3video" @click="uploadVideoS3">Upload to S3 <span v-if="loadingicon"> <i v-bind:disabled="uploaddisabled === ''" class="fa fa-spinner fa-spin" aria-hidden="true"></i> </span></button>

                <p class="error">{{FileError}}</p>
              </div>
              <span class="close" @click="close_modal">X</span>
            </modal>

            <modal style="width:900px;" v-if="showThumbnailModal" @close="showThumbnailModal = false" name="upload-modal">
              <p class="error">{{ThumbnailError}}</p>
              <div class="drop_vod_container">
                
                <div>
                  <!-- <video id="video" :src="video_preview_link" type="video/mp4" controls></video><br/>
                  <input type="button" @click="capturePreview" value="Capture" /> <br/><br/>
                  <canvas id="canvas"></canvas> -->

                  <video crossorigin="anonymous" id="video_prv" :src="video_preview_link" controls></video><br/>
                  <button type="button" @click="capturePreview"> <i class="fa fa-camera" aria-hidden="true"></i> Capture</button> 

                  <file-selector max="1" v-model="Thumbfiles">
                    <input type="file" class="slotted" @change="ThumbfilesChange($event.target.name, $event.target.files)" />
                  </file-selector>

                  <br/><br/>
                  


                  <button type="button" class="uploads3" @click="uploadVideoS3Thumbnail">
                    Upload to S3 <span v-if="loadingicon"> <i v-bind:disabled="uploaddisabled === ''" class="fa fa-spinner fa-spin" aria-hidden="true"></i> </span>
                  </button>
                    
                </div>

              </div>

              <div class="vid_prview">

                  <canvas crossorigin="anonymous" id="canvas" class="canvas_width"></canvas>

              </div>
              <span class="close" @click="close_modal">X</span>
            </modal>
        </template>
    </default-field>
</template>


<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova'
import axios from 'axios'

export default {
    mixins: [FormField, HandlesValidationErrors],

    props: ['resourceName', 'resourceId', 'field'],

    data () {
        return {
          popupbutton: 'Browse S3',
          uploadButton: 'Upload',
          thumbnailButton: 'Select Thumbnail',
          showModal: false,
          showPopupModal: false,
          showThumbnailModal: false,
          vod_link: '',
          vod_type: '',
          FileError: '',
          thumbnailLoad: false,
          ThumbnailError: '',
          video_preview_link: false,
          image: null,
          fileIs: null,
          loadingicon: '',
          uploaddisabled: '',
          activeIndex: null,
        }
    },

    mounted() {
      axios.get("/nova/buckets/folderlist").then(response => {
        this.items = response.data.data
      })
    },

    methods: {
        /*
         * Set the initial, internal value for the field.
        */
        setInitialValue() {
            this.value = this.field.value || ''
        },
        toggle_child(evt) {
          
        },
        modal_event() {
          this.showModal = true
        },
        modal_event_upload() {
          this.showPopupModal = true
        },
        modal_event_thumbnail(){
          console.log( this.vod_link );
          this.showThumbnailModal = true;
          if( this.vod_link == '' ){
            this.ThumbnailError = 'No video link found!';
          } else {
            this.ThumbnailError = '';
            this.thumbnailLoad = true;
            this.fetch_thumbnails();
          }
          
        },
        ThumbfilesChange(filename, mainfile){
          console.log(filename);
          console.log(mainfile);
          if( mainfile[0].type == 'image/jpeg' || mainfile[0].type == 'image/png' ){
            
            var canvas  = document.getElementById("canvas");
            var context = canvas.getContext("2d");

            var FR= new FileReader();
            FR.onload = function(e) {
               var img = new Image();
               img.addEventListener("load", function() {
                  
                  var w = this.width;
                  var h = this.height;

                 context.drawImage(img, 0, 0, 300, 300 * h / w);
               });
               img.src = e.target.result;
            };       
            FR.readAsDataURL( mainfile[0] );            
          } else {
            // Image format not supported
            return false;

          }


        },
        filesChange(filename, mainfile){

          this.fileIs = mainfile[0];

          this.vod_type = mainfile[0].type;

          if( this.vod_type != 'video/mp4' ){
            this.FileError = 'Please select video/mp4 files only';
            this.vod_link = '';
          } else {
            this.FileError = '';
            this.vod_link = URL.createObjectURL( mainfile[0] );
          }
          console.log(this.vod_link);
        },
        copys3video(){

          this.loadingicon = true;
          let formData = new FormData();
          formData.append('file_link', this.vod_link);
          var ldicon = this;

          axios.post('/api/copy/s3/video',
              formData,
          ).then(function(data){
            ldicon.loadingicon = false;
            console.log(data);
            
            var link = document.getElementById('link');

            var dataString = data.data;

            // link.value = decodeURIComponent(  );
            link.focus();
            ldicon.showModal = false;
            prompt("Use AWS link, copy to clipboard: Ctrl+C, Enter", dataString.replace(/ /g, "+") );

          }).catch(function(error){
            console.log(error);
            console.log('FAILURE!!');
            ldicon.loadingicon = false;
          });

        },
        uploadVideoS3(){
          // fa-spinner fa-spin
          console.log('Upload the video');
          let formData = new FormData();

          console.log( this.fileIs );

          if( this.fileIs == null ){
            return '';
          }

          formData.append('file', this.fileIs);
          
          this.loadingicon = true;

          var ldicon = this;

          this.uploaddisabled = true;

          axios.post('/api/upload/s3/video',
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
          ).then(function(data){
            ldicon.loadingicon = false;
            var link = document.getElementById('link')
            var dataString = data.data;

            // link.value = decodeURIComponent( data.data );
            link.focus();
            ldicon.showPopupModal = false;
            prompt("Use AWS link, copy to clipboard: Ctrl+C, Enter", dataString.replace(/ /g, "+") );

          })
          .catch(function(){
            console.log('FAILURE!!');
            ldicon.loadingicon = false;
            alert("Error: can't upload file."); 
          });

        },
        uploadVideoS3Thumbnail(){
          
          var filename = '';
          
          const ldicon = this;

          if (this.fileIs == null){

            if( this.vod_link == null || this.vod_link == '' ){
              return '';
            }

            var filename = this.vod_link;
            var filenamearray = '';
            var filenamearrayitem = '';
            
            filenamearray = filename.split('/');
            filenamearrayitem = filenamearray.reverse();
            
            filename = filenamearrayitem[0];
            filename = filename.split('.').slice(0, -1).join('.');
            console.log( filename );
              
          } else {
            var filename = this.fileIs.name;
            filename = filename.split('.').slice(0, -1).join('.');
          }
          this.loadingicon = true;
          console.log( filename );

          var canvas = document.getElementById('canvas');
          var image = canvas.toDataURL('image/jpeg');
          var obj = {};
          obj['image'] = image;
          
          axios.post('/api/upload/s3/video/thumbnail?filename='+filename,
              image
          ).then(function(data){
            ldicon.loadingicon = false;
          })
          .catch(function(){
            ldicon.loadingicon = false;
            console.log('FAILURE!!');
          });

        },
        fetch_thumbnails(){
          this.video_preview_link = this.vod_link;
          console.log( 'fetch_thumbnails' );
        },

        capturePreview(){
          var scaleFactor = 0.2;
          var canvas = document.getElementById('canvas');
          var video = document.getElementById('video_prv');
          
          var w = video.videoWidth;
          var h = video.videoHeight;

          canvas.width = w;
          canvas.height = h;

          /* canvas.getContext('2d').drawImage(video, 0, 0, w, 100 * h / w); */
          /* canvas.getContext('2d').drawImage(video, 0, 0, 300, 300 * h / w); */
          canvas.getContext('2d').drawImage(video, 0, 0);
          
          // canvas.classList.add("canvas_width");

        },

        close_modal() {
          this.showModal = false
          this.showPopupModal = false
          this.showThumbnailModal = false;
        },

        select_bucket(link, key){
          this.vod_link = link;
          // this.showModal = false;
          this.activeIndex = key;
        },
        
        toggle_ul(item){
          
        },
        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            formData.append(this.field.attribute, this.value || '')
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            this.value = value
        },
    },
}
</script>

<style scoped>

.modal ul{
  list-style: none;
}

.canvas_width{
  width: 350px;
}

.modal {
  height: auto !important;
  max-height: 60%;
  overflow-y: scroll;
  top: 10%;
  width: min-content;
  min-width: 500px;
  min-height: 300px;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 3px;
  transition: all 0.2s ease-in;
  font-family: Helvetica, Arial, sans-serif;
}
.fadeIn-enter {
  opacity: 0;
}

.fadeIn-leave-active {
  opacity: 0;
  transition: all 0.2s step-end;
}

.fadeIn-enter .modal,
.fadeIn-leave-active.modal {
  transform: scale(1.1);
}
button {
  padding: 7px;
  margin-top: 10px;
  background-color: green;
  color: white;
  font-size: 1.1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}

span.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
}

.drop_vod_txt {
  margin: 18px 40px;
  border: 1px dotted;
  padding: 10px;
}

.drop_vod_con {
  text-align: center;
}


#video_prv {
  height: 170px;
}

input[type="file"] {
  border: 1px solid yellow;
}

input[type="file"].slotted {
  border: 1px solid rebeccapurple;
}

.invalid {
  color: red;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.head {
  background: #de6159;
  color: white;
  padding: 85px 0 45px;
  font-size: 22px;
  margin-bottom: 35px;
  text-align: right;
}

.head h2 {
  font-weight: normal;
  line-height: 1;
  margin-top: -30px;
}

.error {
  color: #f67b3f;
}

li.toggle-child {
  display: block;
  text-align: left;
  border-bottom: 1px solid #ed7a3e;
  padding: 11px 21px;
  cursor: pointer;
}

li.toggle-child a{
  color: #f67a3d;
}

li.toggle-child a:hover{
  color: black;
}

.drop_vod_container {
  position: absolute;
  left: 0;
}

.vid_prview {
  position: absolute;
  right: 0;
  border: 1px dashed;
  text-align: center;
  vertical-align: middle;
}

.uploads3 {
  padding: 5px;
  float: left;
  border-radius: 4px;
}

.active {
  color: blue !important;
}
</style>