html, body {
    background: #aaa;
    height:100%;
}

.slider-range{
}

i.hander {
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background:#ccc;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}

#page-container{
    position: relative;
    max-width:1440px;
    min-width:1024px;
    margin:10px auto;
    width:100%;
    height:100%;
    background-color:#666;
}

#editor-container{
    position: relative;
    width: 60%;
    height:100%;
    float: left;
}

#video-container{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    height:0px;
    margin-bottom: 62px;
}

#video-previewer {
    position: absolute;
    top: 0; left: 0;
    width:100%;
    height:100%;
}

#effect-container{
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0,0,0,0);
    width: 100%;
    padding-top: 56.25%;
    height:0px;
}

#effect-area{
    position: absolute;
    top: 0; left: 0;
    width:100%;
    height:100%;
}

#effect-previewer{
    position: relative;
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

#effectList{
    margin:auto;
}

#timeline{
    position: absolute;
    z-index:1;
    top: 0; left: 0;
    width: 1px;
    height: 100%;
    background-color: red;
}

#tools-container{
    float: left;
    width: 40%;
}

#inputText{
    width: 100%;
    height:100px;
    font-size: 30px;
}

#addText-container{
    float: right;
}

#bgm-volume{
    width: 80px;
}

#commit-container{
    float: right;
}

#commit{
    color:red;
}

video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
    position: relative;
    top:31px;
    height:62px;
}

video::-webkit-media-controls-play-button{
    position: relative;
    top:-16px;
}

video::-webkit-media-controls-current-time-display {
    position: relative;
    top:-16px;
}

video::-webkit-media-controls-time-remaining-display {
    position: relative;
    top:-16px;
}

video::-webkit-media-controls-mute-button {
    position: relative;
    top:-16px;
    left:50px;
}

video::-webkit-media-controls-volume-slider {
    position: relative;
    top:-16px;
    left:40px;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: block;
    position: absolute;
    top:46px;
    width:100%;
    left:-18px;
}

img.emoji {
    width: 10%;
}

img.effect {
    width: 3%;
    height: 3%;
}

span.overlay-text {
    font-size:100%;
    color:#ff0000
}

p.overlay-text {
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0px;
}

ul{
    -webkit-padding-start:0px;
}

#effectList-container{
    position:relative;
    max-height:350px;
    overflow:scroll;
}

li.effectController{
    position: relative;
    width: 100%;
    overflow:hidden;
}

.timespan{
    border:0;
    background-color: rgba(0,0,0,0);
    font-weight:bold;
}

#picker {
    width: 200px;
    height: 200px
}

#slide{
    width: 30px;
    height: 200px
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
